<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    ^debug_kit/(.*) app/Plugin/DebugKit/webroot/$1 [L] # 新しく加えた行
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
